body {
    background-color: white;
  }
  
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    height: auto;
}
  
.link {
    color: #050b37;
    text-decoration: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

a:hover, a:active {
    background-color: #FDD034;
    border-radius: 25px;
    padding: 10px;
}
div.link1 {
    text-align: center;
    margin:20px;
}
div.link2 {
    text-align: center;
    margin:20px;
}